html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.header {
  display: flex;
  background-color: #1f2937;
  justify-content: space-evenly;
  align-items: center;
  padding: 16px;

  color: #f9faf8;
}

.logo {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 24px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
  font-size: 18px;
}

a {
  color: white;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.intro {
  display: flex;
  background-color: #1f2937;
  justify-content: space-around;
  color: #f9faf8;
  padding: 42px;
  gap: 12px
}

.description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#heading1 {
  font-size: 48px;
  font-weight: 900;
}

.sub-heading {
  font-size: 18px;
  color: #e5e7eb;
  font-style: italic;
}

.head-button {
  width: 100px;
  height: 40px;
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 12px;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 48px;
}

.heading {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.card {
    display: flex;
    width: 250px;
    flex-wrap: wrap;
}

.image {
    border-radius: 24px;
}